@font-face {
    font-family: 'Gameplay';
    src: url(../assets/Gameplay.ttf) format('truetype');
}

body {
    /* Fade-in effct on load*/
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
    background: rgb(13,13,88);
    background: -moz-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d58",endColorstr="#010000",GradientType=1);
    background-attachment: local;
}


header {
    height: 15%;
    padding-top : 20px;
}
#logoIUT {
    width: 6%;
    float: left;
    margin-left: 10%;
    padding-top: 10px;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 670px;
    height: 50px;
    background-color: #34495e;
    border-radius: 80px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 80px;
}

a:nth-child(1) {
    width: 200px;
}

a:nth-child(2) {
    width: 170px;
}

a:nth-child(3) {
    width: 110px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

a:hover,
a:active {
    color: white;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(243, 243, 243);
    scroll-behavior: smooth;
}

.img-header {
    background-image: url(../computer-hacking-code.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    margin-top: 55px;
}

.transition {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 90px;
    color: grey;
    filter: blur(2px);
    background-color: honeydew;
    margin-top: 400px;
    margin-bottom: 300px;
}

#transition1 {
    font-family: 'Gameplay';
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    color: forestgreen;
    margin-bottom: 3em;
}

.transition2 {
    margin-bottom: 10em;
    background-image: url(../1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%
}

.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid forestgreen;
    background: forestgreen;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 20%;
    float: right;
}

.icon {
    border-radius: 50%;
    width: 100%;
}

#main-form {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#sub-div {
    background-color: grey;
    padding: 35px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: -20%;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
}

#button-bottom {
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
}

#button-bottom:hover {
    background-color: green;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: grey;
}

#video-player-wrapper {
    background-color: rgb(134, 136, 134);
    width: 100%;
    min-height: 120px;
    margin-bottom: 50px;
}

.card-body>video {
    margin-top: 30px;
    float: left;
    height: 800px;
}

a {
    color: forestgreen;
    text-shadow: 2px 2px black;
}

#pentester {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

#foot-rt {
    float: right;
    margin-right: 40px;
}

#foot-lt {
    float: left;
    margin-left: 10px;
}

p>button {
    float: left;
}

#section-wrapper {
    background-color: rgb(134, 136, 134);
    padding: 5%;
    margin-top: 2em;
    margin-bottom: 13em;
}

dt {
    font-size: 30px;
}

dd {
    font-size: 22px;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: forestgreen;
    margin-top: 10px;
}

#graphic1 {
    width: 400px
}

#left-m {
    float: right;
}

#wrapper-nav {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    dd {
        font-size: 10px;
    }
    #wrapper-col {
        font-size: 11px;
    }
    .form {
        height: 30%;
    }
}
