
/*
 SPECIFIC CSS
*/

nav .start-1,
a:nth-child(1):hover~.animation {
    width: 150px;
    left: 35px;
    background-color: green;
}

nav .start,
a:nth-child(2):hover~.animation {
    width: 150px;
    left: 220px;
    background-color: green;
}

nav .start-2,
a:nth-child(3):hover~.animation {
    width: 150px;
    left: 360px;
    background-color: green;
}

nav .start-3,
a:nth-child(4):hover~.animation {
    width: 150px;
    left: 500px;
    background-color: green;
}
.imgTS {
    display: none;
    }
.imgPent {
    display: none;
}
.imgAnal {
    display: none;
}
.imgInte {
    display: none;
}
.imgDev {
    display: none;
}
#pageTitle{
    color:black;
    margin:auto;
    padding: 40px;
    font-weight: bold;
    font-size: 44px;
}
.metier{
    margin-top: 20px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%;
}
.metier img{
    width: 7%;
}
.metier a{
    color:black;
    text-shadow: none;
}
.exitbtn{
    display: inline-block;
    width: 34px;
}
button {
    margin: 6px;
    border: none;
    background-color: none;
    background: none;
}
button:hover {
    border: none;
    background-color: none;
    background: none;
    box-shadow: none;
}
.MAbout {
    text-align: left;
    display: none;
    width: 40%;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -220px;
    margin-bottom: 15%;
    z-index: 21;
}
.MAbout p {
    margin: 20px;
    text-align: left;
    }
.MAbout .txtp>a {
    color: darkgreen;
    font-weight: bold;
    text-shadow: none;
}
.MAbout h2 {
    margin-top: -20px;
    text-align: center;
    font-weight: bold;
}
#MABckgnd {
    top: -200px;
    display: none;
    opacity: 75%;
    width: 1000%;
    height: 1000%;
    z-index: 20;
}
header {
    background-color: #97a9b9;
    height: 15%;
    padding-top : 20px;
}
#logoIUT {
    width: 6%;
    float: left;
    margin-left: 10%;
    padding-top: 10px;
}

#TechSupp {
    width: 35%;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#TechSupp:hover {
    border-color: darkgreen;
}
#Pent {
    width: 35%;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Pent:hover {
    border-color: darkgreen;
}
#Anal {
    width: 35%;
    margin-left: 10%;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Anal:hover {
    border-color: darkgreen;
}
#Inte {
    width: 35%;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Inte:hover {
    border-color: darkgreen;
}
#Dev {
    width: 35%;
    margin-left: 25%;
    margin-bottom: 100px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Dev:hover {
    border-color: darkgreen;
}

.inline {
    display: block;
    text-align: left;
}
.inline div{
    display: inline-block;
}
#ILPent {
    margin-left: 20%;
}
#ILPent #Pent {
    width: 45%;
}
#ILInte {
    margin-left: 30%;
}
#ILInte #Inte {
    width: 45%;
}
.link {
    font-size: 13px;
    font-style: italic;    
    font-weight: bold;
}
.link a{
    color: blue;    
    text-shadow: none;
}
.link a:hover{
    color: rgb(94, 94, 224);
}