
/*
 SPECIFIC CSS
*/

nav .start-1,
a:nth-child(1):hover~.animation {
    width: 150px;
    left: 35px;
    background-color: green;
}

nav .start,
a:nth-child(2):hover~.animation {
    width: 150px;
    left: 220px;
    background-color: green;
}

nav .start-2,
a:nth-child(3):hover~.animation {
    width: 150px;
    left: 360px;
    background-color: green;
}

nav .start-3,
a:nth-child(4):hover~.animation {
    width: 150px;
    left: 500px;
    background-color: green;
}
.imgTS {
    display: none;
    }
.imgPent {
    display: none;
}
.imgAnal {
    display: none;
}
.imgInte {
    display: none;
}
.imgDev {
    display: none;
}
#pageTitle{
    color:white;
    margin:auto;
    padding: 40px;
    font-weight: bold;
    font-size: 44px;
}
.metier{
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%;
}
.metier img{
    width: 7%;
}
.metier a{
    color:white;
    text-shadow: none;
}
.exitbtn{
    display: inline-block;
    width: 34px;
}
button {
    margin: 6px;
    border: none;
    background-color: none;
    background: none;
}
button:hover {
    border: none;
    background-color: none;
    background: none;
    box-shadow: none;
}
.MAbout {
    text-align: left;
    display: none;
    width: 80%;
    background: rgb(13,13,88);
    background: -moz-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d58",endColorstr="#010000",GradientType=1);
    background-attachment: local;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    z-index: 21;
}
.MAbout p {
    color:white;
    margin: 20px;
    text-align: left;
    }
.MAbout .txtp>a {
    color: rgb(0, 175, 0);
    font-weight: bold;
    text-shadow: none;
}
.MAbout h2 {
    color:white;
    margin-top: -20px;
    text-align: center;
    font-weight: bold;
}
#MABckgnd {
    top: -200px;
    display: none;
    opacity: 75%;
    width: 1000%;
    height: 1000%;
    z-index: 20;
}

#TechSupp {
    display: inline-block;
    margin:auto;
    width: 80%;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#TechSupp:hover {
    border-color: darkgreen;
}
#Pent {
    display: inline-block;
    margin:auto;
    width: 80%;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Pent:hover {
    border-color: darkgreen;
}
#Anal {
    display: inline-block;
    margin:auto;
    width: 80%;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Anal:hover {
    border-color: darkgreen;
}
#Inte {
    display: inline-block;
    margin:auto;
    width: 80%;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Inte:hover {
    border-color: darkgreen;
}
#Dev {
    display: inline-block;
    margin:auto;
    width: 80%;
    margin-bottom: 100px;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
}
#Dev:hover {
    border-color: darkgreen;
}

.inline {
    text-align: center;
    margin: 30px;
}
.inline div{
    display: inline-block;
}
.link {
    font-size: 13px;
    font-style: italic;    
    font-weight: bold;
}
.link a{
    color: blue;    
    text-shadow: none;
}
.link a:hover{
    color: rgb(94, 94, 224);
}