
.custom-container {
    max-width: 1200px;
    margin: auto;
}

@font-face {
    font-family: 'Gameplay';
    src: url(../assets/Gameplay.ttf) format('truetype');
}

body {
    /* Fade-in effct on load*/
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
    background: rgb(13,13,88);
    background: -moz-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    background: radial-gradient(circle, rgba(13,13,88,1) 3%, rgba(3,8,42,1) 47%, rgba(1,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d58",endColorstr="#010000",GradientType=1);
    background-attachment: local;
}


header {
    height: 15%;
    padding-top : 20px;
}
#logoIUT {
    width: 6%;
    float: left;
    margin-left: 10%;
    padding-top: 10px;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 670px;
    height: 50px;
    background-color: #34495e;
    border-radius: 80px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 80px;
}

a:nth-child(1) {
    width: 200px;
}

a:nth-child(2) {
    width: 170px;
}

a:nth-child(3) {
    width: 110px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

a:hover,
a:active {
    color: white;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(243, 243, 243);
    scroll-behavior: smooth;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: grey;
}

a {
    color: forestgreen;
    text-shadow: 2px 2px black;
}

#foot-rt {
    float: right;
    margin-right: 40px;
}

#foot-lt {
    float: left;
    margin-left: 10px;
}

p>button {
    float: left;
}

